@using GraafschapLeenAuto.Shared.Interfaces
@using Microsoft.AspNetCore.Components.Authorization
@using GraafschapLeenAuto.Blazor.Pages.Login
@using GraafschapLeenAuto.Blazor.Services

@inject ICurrentUserContext Context;

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    @if (Context.IsAuthenticated)
                    {
                        <p>You're not authorized to view this page.</p>
                    }
                    else
                    {
                        <LoginRedirect />
                    }
                </NotAuthorized>
                <Authorizing>
                    <div class="spinner-border text-primary" role="status">
                        <span class="sr-only"></span>
                    </div>
                </Authorizing>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
